<!DOCTYPE html>
<html>

<head>
    <title>Safemotos Home </title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!-- Compiled and minified JavaScript 
    <script src="../js/materialize.min.js"></script>-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../angular/angular.js"></script>
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    
    <div class="header">
        <div class="navbar-fixed">
           
            <nav>
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo active">Safemotos</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="drivers.html">Driver profiles</a></li>
                        <li><a href="newdriverinput.html">Driver Recruitment form</a></li>
                        <li><a href="qualifieddriver.html">Qualified driver form</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container">
        <img src="https://dl.dropboxusercontent.com/u/63854414/SafeMoto%20Logo%20Large%202208%20x%202208.png" style="width:1500px;height:1000px;" >

    </div>


</body>

</html>
