<!DOCTYPE html>
<html>

<head>
    <title>Safemotos New Driver Information </title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/newdriver.css">
    <!-- Compiled and minified JavaScript 
    <script src="../js/materialize.min.js"></script>-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../angular/angular.js"></script>
</head>

<body ng-app ="myApp" ng-controller="newDriverCtrl">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <div class="header">
        <div class="navbar-fixed">
            <ul id="dropdown2" class="dropdown-content red lighten-2">
                <li class="active"><a href="newdriverinput.html">New Driver Info Form</a></li>
                <li><a href="#!">New Driver Profiles</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
            <ul id="dropdown1" class="dropdown-content red lighten-2">
                <li>
                    <a href="qualifieddriver.html">Qualified Driver form</a></li>
                <li><a href="#!">Live Driver Profiles</a></li>
                <li class="divider"></li>
                <li><a href="#!">Drivers in training phase</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo">Safemotos</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="drivers.html">Driver profiles</a></li>
                        <li><a href="newdriverinput.html">Driver Recruitment form</a></li>
                        <li><a href="qualifieddriver.html">Qualified driver form</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    
    <div class="container">
        <p align="center">
            <font size="20">New Driver Information </font>
        </p>
        <div class="row">
            <form class="col s12" ng-submit = "addDriver()" >
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="firstname" ng-model= "firstname"type="text" class="validate">
                        <label for="icon_prefix">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="lastname" ng-model = "lastname" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>

                </div>
                <div class='row'>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="phone" ng-model ="phone" type="text" class="validate">
                        <label for="icon_telephone">Telephone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">perm_identity</i>
                        <label>How did driver hear about Safemotos?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12" ng-controller="driverListCtrl">
                        <select class="browser-default" ng-model="outreach">
                            <optgroup label="Social media">
                                <option value="facebook">Facebook</option>
                                <option value="twitter">Twitter</option>
                            </optgroup>
                            <optgroup label="Safemotos Team">
                                <option value="peter">Peter</option>
                                <option value="nash">Nash</option>
                                <option value="clive">Clive</option>
                                <option value="eric">Eric</option>
                            </optgroup>
                            <optgroup label="Ambassador Program" ng-repeat ="x in names">
                                <option value="1"> {{x.firstname + " " + x.lastname}} </option>
                                
                            </optgroup>
                        </select>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">view_array</i>
                        <input ng-model= "route" id="route" type="text" class="validate">
                        <label for="route">Route</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">my_location</i>
                        <input id="pickup_location" ng-model="pickup_location" type="text" class="validate">
                        <label for="location">Main pick up location</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assessment</i>
                        <label>English Proficiency</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select class="browser-default" ng-model="english_level">
                            <option value="" disabled selected>Select level</option>
                            <option value="novice">Novice </option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                            <option value="native">Native</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assessment</i>
                        <input ng-model = "experience" id="experience" type="text" class="validate">
                        <label for="location">Years of experience</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assessment</i>
                        <label>Smartphone exposure</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select class="browser-default" ng-model = "smartphone_exposure">
                            <option value="" disabled selected>Select level</option>
                            <option value="novice">Novice </option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                            <option value="native">Expert</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light red lighten-2" type="submit" ng-click ="newDriverCtrl()">Submit
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </form>
        </div>
</body>

</html>
