<!DOCTYPE html>
<html lang="en" ng-app="signUp">

<head>
    <title>Safemotos Sign Up</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../css/signup.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="../js/materialize.min.js"></script>
    <script src="../angular/angular.js"></script>
</head>
</head>

<body ng-controller="UserListCtrl">
    <div class="container">
        <div class="header">
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">Safemotos</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#">Sass</a></li>
                        <li><a href="signin.html">Sign In</a></li>
                        <li class="active"><a href="signup.html">Sign Up</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="jumbotron">
            <p> Sign Up Successful!</p>

            <a href = "signin.html" class="waves-effect waves-light btn-large card-panel red lighten-2">Sign In</a>
        </div>
        <footer class="footer">
            <p>&copy; Safemotos 2015</p>
        </footer>
    </div>
</body>

</html>