<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Safemotos Qualified Driver Information </title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!-- Compiled and minified JavaScript 
    <script src="../js/materialize.min.js"></script>-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-controller="qualifiedDriverCtrl">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    
    <div class="header">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo">Safemotos</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="drivers.html">Driver profiles</a></li>
                        <li><a href="newdriverinput.html">Driver Recruitment form</a></li>
                        <li><a href="qualifieddriver.html">Qualified driver form</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <p align="center">
            <font size="20">Qualified Driver Information </font>
        </p>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" ng-model = "firstname" type="text" class="validate">
                        <label for="icon_prefix">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" ng-model ="lastname" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class='row'>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_telephone" type="tel" class="validate">
                        <label for="icon_telephone">Telephone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">perm_identity</i>
                        <label>How did driver hear about Safemotos?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select class="browser-default" ng-model="outreach">
                            <optgroup label="Social media">
                                <option value="facebook">Facebook</option>
                                <option value="twitter">Twitter</option>
                            </optgroup>
                            <optgroup label="Safemotos Team">
                                <option value="peter">Peter</option>
                                <option value="nash">Nash</option>
                                <option value="clive">Clive</option>
                                <option value="eric">Eric</option>
                            </optgroup>
                            <optgroup label="Ambassador Program" ng-repeat="x in drivers">
                                <option value="" +{{x.firstname + " " + x.lastname}}> {{x.firstname + " " + x.lastname}} </option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">view_array</i>
                        <input id="route" ng-model="route" type="text" class="validate">
                        <label for="route">Route</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">my_location</i>
                        <input id="location" ng-model="pickup_location" type="text" class="validate">
                        <label for="location">Main pick up location</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assessment</i>
                        <label>English Proficiency</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select class="browser-default">
                            <option value="" disabled selected>Select level</option>
                            <option value="novice">Novice </option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                            <option value="native">Native</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assessment</i>
                        <input id="experience" type="number" class="validate">
                        <label for="location">Years of experience</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assessment</i>
                        <label>Smartphone exposure</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select class="browser-default">
                            <option value="" disabled selected>Select level</option>
                            <option value="novice">Novice </option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                            <option value="expert">Expert</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class=" col s12">
                        <i class="material-icons prefix">open_in_browser</i>
                        <input type="file" id="file" name="file" />
                        <button ng-click="add()">Add</button>
                        <label style="font-size: 15pt">Upload Driver's licence</label>
                    </div>
                </div>
                <div class="row">
                    <div class=" col s12">
                        <i class="material-icons prefix">open_in_browser</i>
                        <input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
                        <button ng-click="add()">Add</button>
                        <label style="font-size: 15pt">Upload copy of Yellow Card</label>
                    </div>
                    <div id="progress">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col s12">
                        <i class="material-icons prefix">open_in_browser</i>
                        <input type="file" id="file" name="file" />
                        <button ng-click="add()">Add</button>
                        <label style="font-size: 15pt">Upload ID card</label>
                    </div>
                </div>
                <div class="row">
                    <div class=" col s12">
                        <i class="material-icons prefix">open_in_browser</i>
                        <input type="file" id="file" name="file" />
                        <button ng-click="add()">Add</button>
                        <label style="font-size: 15pt">Upload copy of contract</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light red lighten-2" ng-click="submitForm()" type="submit" name="action">Submit
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../js/app.js"></script>
    <script src="../js/jquery.ui.widget.js"></script>
    <script src="../js/jquery.iframe-transport.js"></script>
    <script src="../js/jquery.fileupload.js"></script>
</body>

</html>
