<!DOCTYPE html>
<html lang="en">

<head>
    <title>Safemotos Sign In</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../css/signup.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="../js/materialize.min.js"></script>
    
</head>
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">Safemotos</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="signin.html">Home</a></li>
                        <li class="active"><a href="signin.html">Sign In</a></li>
                        <li ><a href="signup.html">Sign Up</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="jumbotron">
            <form class="form-signin">
                
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                <a href = "index.html" class="waves-effect waves-light btn-large card-panel red lighten-2">Sign In</a>
            </form>
        </div>
        <footer class="footer">
            <p>&copy; Safemotos 2015</p>
        </footer>
    </div>
</body>

</html>
