<!DOCTYPE html>
<html lang="en" ng-app="signUp">

<head>
    <title>Safemotos Sign Up</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../css/signup.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <script type="text/javascript" src="../js/appController.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../angular/angular.min.js"></script>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <div class="header">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Safemotos</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="signin.html">Home</a></li>
                    <li><a href="signin.html">Sign In</a></li>
                    <li class="active"><a href="signup.html">Sign Up</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <form class="form-signin" name="myform" ng-controller="userListCtrl" ng-submit="sendForm()" novalidate>
        <p>Email:
            <br>
            <input type="email" placeholder="Email" name="email" ng-model="email" size=50 required>
            <span style="color:red" class="error" ng-show="myform.email.$error.required"> Email is required</span>
            <span style="color:red" class="error" ng-show="myform.email.$error.email">invalid email address</span>
        </p>
        <p>Username:
            <br>
            <input type="text" placeholder="Username" name="username" ng-model="username" required>
            <span style="color:red" class="error" ng-show="myform.username.$error.required">Username required</span>
        </p>
        <p>Password:
            <input type="password" placeholder="Password" ng-model="password" size=50 pw-check="password" required/>
        </p>
        <p>Confirm Password:
            <input type="password" placeholder="Confirm Password" ng-model="confirmpass" size=50 required/>
        </p>
        <button class="btn-large  red lighten-2 waves-effect waves-light" type="submit" ng-click="sendForm()" ng-disabled="myform.$invalid">Sign Up
        </button>
        
    </form>
    <script>
    var app = angular.module('signUp', []);
    app.controller('userListCtrl', function($scope) {

        $scope.sendForm = function() {
            alert('Successful!');
        };
        $scope.getClass = function(b) {
            return b.toString();
        }
        $scope.email = this.email;
        $scope.$watch('password', function() {
            $scope.test();
        });
        $scope.$watch('confirmpass', function() {
            $scope.test();
        });
        $scope.test = function() {
            if ($scope.this.password !== $scope.this.confirmpass) {
                $scope.error = true;
            } else {
                $scope.error = false;
            }
            if ($scope.edit && (!$scope.fName.length ||
                    !$scope.lName.length ||
                    !$scope.passw1.length || !$scope.passw2.length)) {
                $scope.incomplete = true;
            }

        };
    });
    </script>
    <footer class="footer">
        <p>&copy; Safemotos 2015</p>
    </footer>
</body>

</html>
